#root {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.welcome {
  color: #f0f;
  font-size: 46px;
  font-weight: bold;
  animation: color 20s infinite;
  transition-timing-function: ease-in-out;
}

@keyframes color {
  0% {
    color: #f44336;
  }
  10% {
    color: #9c27b0;
  }
  20% {
    color: #3f51b5;
  }
  30% {
    color: #2196f3;
  }
  40% {
    color: #00bcd4;
  }
  50% {
    color: #009688;
  }
  60% {
    color: #4caf50;
  }
  70% {
    color: #ffeb3b;
  }
  80% {
    color: #ff9800;
  }
  90% {
    color: #ff5722;
  }
  100% {
    color: #f44336;
  }
}
